<style>
* {
margin:0; padding:0; 		
}
.clearfix {
    display: block;
}
.clear {
    clear: both;
}
a:link, a:visited {
    color: #660000;
    text-decoration: none;
}
.f_l{
float:left;
}
.notext {
    display: none;
}
.clearfix:after {
    display: block;
    clear: both;
    height: 0px;
    line-height: 0px;
    visibility: hidden;
    content: ".";
}
/*▼宣伝*/
.smart-bar-container{
position:absolute;
width:100%;
height:77px;
z-index:2;
background:#eceb98;
display: flex;
align-items: center;
justify-content: center;
}
.smart-bar-content{
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 2.4rem;
}
.smart-bar-content-textarea{
text-align: center;
font-size: 1.6rem;
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
}
.button_area{
margin-left: 1.6rem;
}
.propaganda_button{
background-color: #a435f0;
color: #fff;
height: 40px;
align-items: center;
border: none;
cursor: pointer;
padding: 0 1.2rem;
}
/*▲宣伝*/
/* ▼HEADER */
.frame_outer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
#header_wrap {
    min-height: 82px;
    background: none;
}
#header {
    margin: auto;
    width: 980px;
}
#logo_area {
    position: relative;
    top: 80px;
    left: 290px;
    width: 390px;
    text-align: center;
}
#logo_area h1 {
    width: 378px;
    height: 33px;
    text-align: center;
}
a:link, a:visited {
    color: #660000;
    text-decoration: none;
}
/*#logo_area h1 span {
    display: none;
}*/
#header_utility {
    float: right;
    width: 580px;
}
#headerInternalColumn {
    margin-top: 5px;
    float: right;
    width: 520px;
    height: 35px;
}
/* ▼総合案内とお知らせ */
.thickboxbox {
    position: absolute;
    left: 50%;
    width: 210px;
    /* margin: 170px 0 0 330px; */
    margin: 60px 0 0 280px;
    padding: 0 0 0 0;
}
ul, ol {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  /*margin-left: 10px;*/    /*はみ出ないように調整*/
  /*margin-right: 10px;*/   /*はみ出ないように調整*/
  /*padding: 0.5em 0.5em 0.5em 2em;*/
}

.thickboxbox ul li,.thickboxbox ol li {
  line-height: 1.5;
  padding:0;
}
/* ▲総合案内とお知らせ */
/* ▼カテゴリ総合案内と同時利用でポップアップ */
.newstitle {
    margin: 15px 20px 15px 10px;
    font-weight: bold;
    font-size: 150%;
}
ol, ul, li {
    list-style: none;
}
/* ▲カテゴリ総合案内と同時利用でポップアップ */
/* ▲HEADER */
body.index #container {
    margin: 0 auto;
    padding: 0 0 30px 0;
    width: 980px;
    background: none;
    text-align: left;
}
body.index #one_maincolumn {
    margin: 0 auto;
    width: 960px;
}
.main_column {
    padding: 10px 0 20px;
}
/*▼トップロゴ*/
.rss-popup {
    height: 150px;
}
.toplogo {
    position: absolute;
    width: 390px;
    height: 65px;
    background: url(/user_data/packages/default/img/ajax/popupbubble_icon.png) no-repeat 0 0;
    top: 138px;
    left: 50%;
    display: block;
    margin-left: -200px;
    text-align: center;
    border: none;
}
.rss-popup em {
    background: url(/user_data/packages/default/img/ajax/popupbubble.png) no-repeat;
    width: 100px;
    height: 49px;
    position: absolute;
    top: -70px;
    left: 0px;
    text-align: center;
    text-indent: -9999px;
    z-index: 2;
    display: none;
}
/*▲トップロゴ*/

/*▼かごの中*/
.bloc_outer_cart {
    position: relative;
    width: 960px;
    height: 100px;
}
#cart_area {
    position: absolute;
    left: 50%;
    width: 380px;
    height: 101px;
    margin: 0 0 0 -470px;
    background: url(/user_data/packages/default/img/title/goukei.png) no-repeat bottom right;
}
.side_column .bloc_body, .main_column .bloc_body {
    border: none;
    border-top: none;
}
#container .bloc_body {
    background: none;
}
#cart_area .price {
    float: right;
    font-family: 'number';
    position: relative;
    top: 33px;
    right: 20px;
}
.button_cart {
    display: block;
    position: relative;
    top: 70px;
    left: 46px;
    width: 19px;
    height: 19px;
    border: none;
}
/*▲かごの中*/

/*▼おすすめ商品*/
.main_column .bloc_outer {
    margin-top: 100px;
    margin-bottom: 20px;
}
#recommend_area {
    height: 550px;
}
#recommend_area .bloc_body{
    position: absolute;
    left: 50%;
    margin: 0 0 0 -476px;
    margin-bottom: 10px;
    padding: 10px 0 10px;
    border: none;
    background: none;
}
#recommend_area .product_item:nth-of-type(1) {
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../img/background/tanashade.png) no-repeat;
    background-position: center top;
    width: 320px;
    height: 350px;
    text-align: center;
}
#recommend_area .product_item:nth-of-type(2) {
    position: absolute;
    top: 0px;
    left: 320px;
    background: url(../img/background/tanashade.png) no-repeat;
    background-position: center top;
    width: 320px;
    height: 350px;
    text-align: center;
}
#recommend_area .product_item:nth-of-type(3) {
    position: absolute;
    top: 0px;
    left: 640px;
    background: url(../img/background/tanashade.png) no-repeat;
    background-position: center top;
    width: 320px;
    height: 350px;
    text-align: center;
}
#recommend_area .product_item:nth-of-type(5) {
    position: absolute;
    top: 300px;
    left: 0px;
    background: url(../img/background/tanashade.png) no-repeat;
    background-position: center top;
    width: 320px;
    height: 350px;
    text-align: center;
}
#recommend_area .product_item:nth-of-type(6) {
    position: absolute;
    top: 300px;
    left: 320px;
    background: url(../img/background/tanashade.png) no-repeat;
    background-position: center top;
    width: 320px;
    height: 350px;
    text-align: center;
}
#recommend_area .product_item:nth-of-type(7) {
    position: absolute;
    top: 300px;
    left: 640px;
    background: url(../img/background/tanashade.png) no-repeat;
    background-position: center top;
    width: 320px;
    height: 350px;
    text-align: center;
}
#recommend_area .bloc_body img{
    margin: 0 5px 0 0;
}
/*▲おすすめ商品*/
/*▼FOOTER*/
.index #footer_wrap {
    position: absolute;
    top: 1175px;
    left: 50%;
    margin: 0 0 0 -490px;
    width: 980px;
    height: 80px;
    background: none;
    text-align: center;
}
#footer {
    margin: auto;
    padding-top: 10px;
    width: 950px;
    height: 80px;
    display: block;
    text-align: center;
}
.index #footer_menu {
    position: absolute;
    top: -45px;
    left: 50%;
    border: 1px;
    margin: 0 0 0 -340px;
    width: 680px;
    height: 28px;
    background: none;
}
.index #footer_menu a {
    display: inline-block;
}
.index #footer_menu .abouts {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 27px;
    border: none;
}
#copyright {
    width: 740px;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 97%;
    color: #000;
}
/*▲FOOTER*/
/*▼案内ボタン*/
/* Nav items */
.menu {
  margin-left:-2px;
  list-style: none;
  position: absolute;
  /*width: 100%;*/
  width:206px;
  height: auto;
  top: 0;
  margin-top: 60px;
  /*padding: 0 0 10px 0;*/
  clear: both;
  background: var(--background-navbar);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
}

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
background: #fffde8;
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* Hamburger menbu text */
.menu a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: capitalize;
  color: #660000;
  opacity: 0;
  transition: 0.5s;
}

.menu li {
  /*border-top: 1px solid rgb(75, 75, 75);*/
  /*padding: 15px 0;*/
  /*margin: 0 54px;*/
  opacity: 0;
  transition: 0.5s;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn{
  display: none;
}

.menu-icon{
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 10px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
  background: #ddd;
  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ddd;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  top: 9px;
}

.navicon:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */
/*▼menu-btn_in*/
#menu-btn_in .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

#menu-btn_in .menu-icon .navicon:after {
  transform: rotate(45deg);
}

#menu-btn_in .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
#menu-btn_in .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}

#menu-btn_in  .menu-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/*▲menu-btn_in*/

/*▲案内ボタン*/

</style>