<style>
* {
margin:0; padding:0; 		
}
body{
background-color:#efefef;
width:100%;
}
.o-title_member-search{
margin-bottom:20px;
}
.product_add_button_area{
text-align:center;
}
.product_add_button{
background-color:#0075c8;
margin-bottom:20px;
font-size:20px;
width:210px;
height:47px;
display:flex;
align-items:center;
justify-content:center;
border:0px;
border-radius:4px;
color:#ffffff;
text-decoration:none;
}
.is-main-content{
padding:30px 2.5%;
}
.o-title_member-search{
font-size:20px;
color:#3b3b3b;
font-weight:600;
line-height:1;
}
.p-facility_list_content{
padding:32px 2.4%;
background-color:#ffffff;
}

.k_wbox{
margin-top:20px;
padding:10px;
padding-left:10px;
background-color:#fff;
}
.info_title{
font-weight:bold;
font-size:large;
margin-top:10px;
}
.info_date{
width:100%;
text-align:right;
}
.info_content{
margin-left:30px;
margin-top:30px;
margin-bottom:30px;

}
a{
cursor:pointer;
text-decoration:none;
max-width:100%;

}


</style>